/* Busca esta parte en tu archivo globals.css */
.bg-plenitud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* CAMBIA ESTA LÍNEA PARA QUE COINCIDA CON EL NOMBRE NUEVO */
  background-image: linear-gradient(to bottom, rgba(2, 4, 8, 0.4), rgba(2, 4, 8, 0.7)), url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.6) contrast(1.2); 
}