@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 56, 81; /* Azul Bahía Profundo */
  --background-end-rgb: 2, 4, 8;    /* Negro Abisal */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: radial-gradient(
    circle at top,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}

/* Animación suave para la entrada de la poesía */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}

/* Estilo para que el scroll sea elegante y no rompa la estética de cristal */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020408;
}

::-webkit-scrollbar-thumb {
  background: #f59e0b; /* Color Oro */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbbf24;
}